.imagemCadastro{
    background-image: url(https://64.media.tumblr.com/36f41ba36c698126b6e79eeeba198f6d/tumblr_pkclv1CTZZ1qf87z7o1_1280.jpg);
    min-height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    size: 150px;
}